#mooduellTabContent div.card-deck {
    margin-top: 8px;
    text-align: center;
}

#mooduellTabContent div.wbblue {
    background-color: #263683;
}

#mooduellTabContent div.wborange {
    background-color: #ed8701;
}

#mooduellTabContent h1 {
    font-size: 3.5vw;
    font-weight: bold;
}

#mooduellTabContent h1.smallheader {
    font-size: 2.5vw;
}

#mooduellTabContent .card-body .card-text.subheader {
    font-size: 1.7vw;
}

#mooduellTabContent .text-black h1 {
    color: black;
}

#mooduellTabContent .text-white h1 {
    color: white;
}

span.correct {
    color: green;
}
