div.card-deck {
    margin-top: 25px;
    text-align: center;
}
div.wbblue {
    background-color: #263683;
}
div.wborange {
    background-color: #ed8701;
}
h1 {
    font-size: 3.5vw;
}

h1.smallheader {
    font-size: 2.5vw;
}

.card-body .card-text.subheader {
    font-size: 1.7vw;
}