{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_mooduell/tablestatisticsteacher
    Template which defines a mooduell view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * statistics - array: An array of stat values.

    Example context (json):
    {
       "statistics": {
          "courseid": "50",
          "number_of_opponents": "2",
          "number_of_open_games": "2",
          "number_of_games_finished": 0,
          "number_of_games_won": 0,
          "number_of_correct_answers": 0,
          "percentage_of_correct_answers": 0
       },
       "opengames": [],
       "finishedgames": [],
       "highscores": [],
       "quizname": "test"
    }

    }}

<h2>{{quizname}}</h2>

{{#statistics}}
{{#str}} downloaduniviemoduell, mod_mooduell {{/str}}
    <br>
    <br>
<div class="container-fluid">
    <div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-sm">{{#str}} univiemooduellappstore, mod_mooduell {{/str}}</div>
            <div class="col-sm" style="text-align: center;"><a href='https://apps.apple.com/at/app/univie-mooduell/id1496638765'><img style="width: 140px; max-width: 100%" alt='Download from Apple App Store' src='https://developer.apple.com/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg'/></a></div>
        </div>
        <div class="row">
            <div class="col-sm">{{#str}} univiemooduellplaystore, mod_mooduell {{/str}}</div>
            <div class="col-sm" style="text-align: center;"><a href='https://play.google.com/store/apps/details?id=at.wunderbyte.univiemooduell&hl=de&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img style="width: 160px; max-width: 100%" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a></div>
        </div>
    </div>
    <div class="col-md">
        <h4>{{#str}} qrtitle, mod_mooduell {{/str}}</h4>
        <p>{{#str}} qrdesc, mod_mooduell {{/str}}</p>
    </div>
    {{#qrimage}}
    <div class="col-md" style="text-align: center">
        <img style="width:200px" src="{{qrimage}}"/>
    </div>
    {{/qrimage}}
    </div>
</div>
{{/statistics}}

<ul class="nav nav-tabs" id="mooduellTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="statistics-tab" data-toggle="tab" href="#statistics" role="tab" aria-controls="statistics" aria-selected="true"><h4>{{#str}}
            statistics, mod_mooduell {{/str}}</h4></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="opengames-tab" data-toggle="tab" href="#opengames" role="tab" aria-controls="opengames" aria-selected="true"><h4>{{#str}} opengames, mod_mooduell {{/str}}</h4></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="finishedgames-tab" data-toggle="tab" href="#finishedgames" role="tab" aria-controls="finishedgames" aria-selected="false"><h4>{{#str}} finishedgames, mod_mooduell {{/str}}</h4></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="highscores-tab" data-toggle="tab" href="#highscores" role="tab" aria-controls="highscores" aria-selected="false"><h4>{{#str}} highscores, mod_mooduell {{/str}}</h4></a>
    </li>
</ul>
<div class="tab-content" id="mooduellTabContent">
    <div class="tab-pane fade show active" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
        {{> mooduell/table_statistics_students }}
    </div>
    <div class="tab-pane fade" id="opengames" role="tabpanel" aria-labelledby="opengames-tab">
        {{{opengames}}}
    </div>
    <div class="tab-pane fade" id="finishedgames" role="tabpanel" aria-labelledby="finishedgames-tab">
        {{{finishedgames}}}
    </div>
    <div class="tab-pane fade" id="highscores" role="tabpanel" aria-labelledby="highscores-tab">
        {{{highscores}}}
    </div>
</div>

<div class="d-flex justify-content-center" id="spinner">
    <div class="spinner-border hidden" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>