{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_mooduell/tablestatisticsteacher
    Template which defines a mooduell view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * statistics - array: An array of stat values.

    Example context (json):
    {
        "statistics": {
          "courseid": "50",
          "number_of_opponents": "2",
          "number_of_open_games": "2",
          "number_of_games_finished": 0,
          "number_of_games_won": 0,
          "number_of_correct_answers": 0,
          "percentage_of_correct_answers": 0
        }
    }
}}

{{#statistics}}
    <!-- Card Deck -->
    <div class="card-deck">
        <div class="card">
            <div class="card-body wbblue text-white">
                <h1 class="card-title"> {{number_of_opponents}} </h1>
                <p class="card-text subheader">{{#str}} stat_student_opponents, mod_mooduell {{/str}}</p>
                <p class="card-text">{{#str}} stat_student_opponents_desc, mod_mooduell {{/str}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body wborange text-white">
                <h1 class="card-title"> {{number_of_open_games}} </h1>
                <p class="card-text subheader">{{#str}} stat_student_open_games, mod_mooduell {{/str}}</p>
                <p class="card-text">{{#str}} stat_student_open_games_desc, mod_mooduell {{/str}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body bg-primary text-white">
                <h1 class="card-title"> {{number_of_games_finished}} </h1>
                <p class="card-text subheader">{{#str}} stat_student_finished_games, mod_mooduell {{/str}}</p>
                <p class="card-text">{{#str}} stat_student_finished_games_desc, mod_mooduell {{/str}}</p>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-body bg-warning text-black">
                <h1 class="card-title"> {{number_of_games_won}} </h1>
                <p class="card-text subheader">{{#str}} stat_student_games_won, mod_mooduell {{/str}}</p>
                <p class="card-text">{{#str}} stat_student_games_won_desc, mod_mooduell {{/str}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body bg-info text-white">
                <h1 class="card-title"> {{number_of_correct_answers}} </h1>
                <p class="card-text subheader">{{#str}} stat_student_correct_answers, mod_mooduell {{/str}}</p>
                <p class="card-text">{{#str}} stat_student_correct_answers_desc, mod_mooduell {{/str}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body bg-success text-white">
                <h1 class="card-title">
                    {{#percentage_of_correct_answers}}{{.}}%{{/percentage_of_correct_answers}}
                    {{^percentage_of_correct_answers}}0%{{/percentage_of_correct_answers}}
                </h1>
                <p class="card-text subheader">{{#str}} stat_student_correct_percentage, mod_mooduell {{/str}}</p>
                <p class="card-text">{{#str}} stat_student_correct_percentage_desc, mod_mooduell {{/str}}</p>
            </div>
        </div>
    </div>
    {{/statistics}}

{{^statistics}}
    {{#str}} nostatistics, mod_mooduell {{/str}}
{{/statistics}}